:root {
  --color-black: black;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-orange: #fcba03; /* hover */
  --items-bgcolor: #f2bf5e;
  --color-pink: #fd7f84;
  --color-grey: rgb(80, 80, 80);
  --color-light-grey: #dfdfdf;
  --color-purple: #cfc7f2; /* concept */
  --color-light-purple: #ffffff66;
  --color-yellow: #fcd307;
  --color-opaque: rgba(255, 255, 255, 0.5); /* last arg: opaque */

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

/*body {
  background-color: #cfc7f2;
} */

body {
  margin: 0;

  /* background image fixed full screen */
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background-image: url(img/desert.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; default: scroll */
}

.top {
  background-color: var(--color-white);
  /* there is always to the top.  */
  position: sticky;
  top: 0;
}

header {
  /* center horizontally */
  margin: auto;
  width: 40%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  min-width: 945px;
}

header .logo,
header .nav,
header form {
  flex-grow: 1;
}

.logo {
  margin-right: 150px;
  width: 50px;
  max-width: 100px;
}

.logo:hover {
  cursor: pointer;
}

.nav {
  /* display: flex; */
}

.nav-link {
  color: var(--color-black);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--color-orange);
  transition: all, var(--animation-duration);
}

.search__bar > input {
  width: 264px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--color-purple);
  font-size: 1rem;
  /* width: 250px; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  font-weight: 500;
  padding-left: 15px;
}

#login-form {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 38px;
  margin-right: 50px;
  border: none;
  background-color: transparent;
  color: var(--color-grey);
  font-size: 1rem;
  font-weight: 600;
}

#login-form:hover {
  cursor: pointer;
  color: var(--color-orange);
  transition: all, var(--animation-duration);
}

#login-form:focus {
  outline-style: none;
}

footer {
  height: 171px;
  background-color: var(--color-opaque);
  text-align: center;
}

footer > div {
  width: 900px;
  display: inline-block;
  text-align: initial;
}
footer > div > div {
  padding-top: 12px;
  margin-bottom: 25px;
  font-size: 29px;
  font-family: georgia, palatino, book antiqua, palatino linotype, serif;
  text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px,
    rgb(140 140 140 / 50%) 0px 4px 0px, #787878 0px 0px 0px,
    rgb(0 0 0 / 50%) 0px 5px 10px;
}

footer > div > div > span {
  font-weight: 900;
}

footer > div > span {
  font-weight: 600;
  font-size: 18px;
  /* font-family: fbgreen, sans-serif; */
}
