ul {
  list-style: none;
}

/* title class : club and context pages among rest pages */
.title {
  background-color: rgb(255, 255, 255, 0.4);
  margin-top: 40px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 50px;
  height: 255px;
  text-align: center;
}

.title > span {
  font-size: 56px;
  text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px,
    rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px,
    rgba(0, 0, 0, 0.498039) 0px 5px 10px;
  font-weight: 600;
}

.title > span > span:first-child {
  font-size: 20px;
}

.word {
  height: 246.56px;
  text-align: center;
  padding-top: 110px;
}

.word > p {
  font-size: 16px;
  line-height: 0.9em;
  font-weight: 400;
  font-size: 26px;
  /* font-family: fbgreen, sans-serif; */
  font-weight: bold;
}

.word > p:last-child {
  font-size: 15px;
}

.free__writing {
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 60px;
  margin-left: 60px;
  padding: 110px 110px;
  /* text-align: center; */
}
.club__contest {
  margin-top: 84px;
}

.writing__form {
  /* width: 500px; */
  /* display: inline-block; */
  /* text-align: initial; */

  display: flex;
}
.label {
  /* width: 400px; */
  flex: 1 38%;
  text-align: center;
}
.content {
  flex: 1 62%;
}
.label > h1 {
  font-size: 56px;
  margin-bottom: 31px;
}

.label > h6 {
  font-size: 16px;
  margin-bottom: 24px;
}

.label > button {
  width: 150px;
  height: 40px;
  transition: all 0.2s ease, visibility 0s;
  background: #000000;
  border-radius: 10px;
  color: white;
}

.label > button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.content > ul > li {
  font-weight: bold;
  margin-bottom: 60px;
}

.content > ul > li > h6 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 24px;
}

#quote {
  background-color: rgb(255, 255, 255, 0.4);
  margin-top: 40px;
  margin-bottom: 500px;
  margin-right: 60px;
  margin-left: 60px;
  padding-top: 100px;
  height: 255px;
  text-align: center;
}

#quote > span {
  font-size: 19px;
  font-weight: 600;
}

#quote > span:last-child {
  font-size: 14px;
}
