:root {
  /* color */
  --color-black: black;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-orange: #fcba03; /* hover */
  --color-pink: #fd7f84;
  --color-grey: rgb(80, 80, 80);
  --color-light-grey: #dfdfdf;
  --color-purple: #cfc7f2; /* concept */
  --color-light-purple: #ffffff66;
  --color-yellow: #fcd307;
  --color-opaque: rgba(255, 255, 255, 0.5); /* last arg: opaque */

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

/* main img {
  width: 1519px;
  height: 514px;
  object-fit: cover;
  object-position: 50% 50%;
} */
main .beautiful {
  background-image: url(img/beautiful.jpg);
  height: 470px;

  padding-top: 102px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  line-height: 1.85;
  font-size: 40px;
  font-weight: bold;
  color: var(--color-white);
}

main .purple {
  background-color: rgb(255, 255, 255, 0.4);
  height: 631px;
  margin-bottom: 13px;
  font-weight: bold;
}

main .purple > h1 {
  font-size: 56px;
  text-align: center;
  padding-top: 74px;
  padding-bottom: 60px;
  margin-bottom: 0;
  /* font-family: didot-w01-italic, didot-w05-italic, serif; */
  letter-spacing: 0.1em;
  color: rgb(133, 124, 181);
}

.order {
  display: flex;
  justify-content: center;
  color: rgb(133, 124, 181);
}

.order__box {
  background-color: var(--color-light-purple);
  margin-left: 13px;
  width: 237px;
  height: 296.78px;
  text-align: center;
  border-radius: 7px;
}

.order__number {
  padding-top: 37px;
  padding-bottom: 1px;
  font-size: 100px;
  letter-spacing: 0.05em;
}

.order__dash {
  width: 43.99px;
  height: 4.99px;
  border-top: 1px solid white;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(133, 124, 181);
}

.order__content {
  font-size: 16.5px;
}

.items {
  display: grid;
  grid: ". . . .";
  list-style: none;
  row-gap: 5px;
  column-gap: 5px;
  /* border: 16px solid silver; */
  justify-content: center;
}

.item {
  background: rgb(255, 255, 255, 0.4);
  width: 241px;
  height: 253.4px;
  text-align: center;
  color: black;
  border-radius: 7px;
}

.item__nickname {
  font-size: 26px;
}

.item__description {
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.yellow {
  height: 351px;
  justify-content: center;
  display: flex;
}

.btn {
  display: flex;
  flex-direction: column;
  margin: auto 40px;
}

.btn > span {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-top: 35px;
}
.iconBtn {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}
