:root {
  /* color */
  --color-black: black;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-orange: #fcba03; /* hover */
  --items-bgcolor: #f2bf5e;
  --color-pink: #fd7f84;
  --color-grey: rgb(80, 80, 80);
  --color-light-grey: #dfdfdf;
  --color-purple: #cfc7f2; /* concept */
  --color-light-purple: #ffffff66;
  --color-yellow: #fcd307;
  --color-opaque: rgba(255, 255, 255, 0.5); /* last arg: opaque */

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

body {
  margin: 0;

  /* background image fixed full screen */
  background: url(img/desert.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background-image: url(img/desert.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; default: scroll */
}

.top {
  background-color: var(--color-white);
  /* there is always to the top.  */
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  height: 100px;
}

.header {
  /* center horizontally */
  margin: auto;
  width: 60%;

  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-black);
  margin-right: 150px;
  display: flex;
}

.logo-word {
  font-size: 29px;
  text-shadow: #c8c8c8 1px 1px 0px, #b4b4b4 0px 2px 0px, #a0a0a0 0px 3px 0px,
    rgba(140, 140, 140, 0.498039) 0px 4px 0px, #787878 0px 0px 0px,
    rgba(0, 0, 0, 0.498039) 0px 5px 10px;
}

.logo span:nth-child(1) {
  /* = firth-child */
  font-weight: 700;
}

.logo span:nth-child(2) {
  font-style: italic;
}

.nav-link {
  color: var(--color-black);
}

.nav-link:hover {
  color: var(--color-orange);
  transition: all, var(--animation-duration);
}

form div {
  margin-top: 20px;
}

form .search-bar {
  width: 250px;
}

form div input:focus {
  outline-style: none;
}

#login-form {
  margin-right: 50px;
}

#login-form input {
  width: 100px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--color-grey);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
#login-form input:hover {
  color: var(--color-orange);
  transition: all, var(--animation-duration);
}

/* main img {
  width: 1519px;
  height: 514px;
  object-fit: cover;
  object-position: 50% 50%;
} */
main .beautiful {
  background-image: url(img/beautiful.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

main .beautiful h4 {
  font-size: 60px;
  padding-top: 102px;
  padding-left: 459.5px;
}

main .beautiful h4 span {
  font-family: geotica-w01-four-open, geotica-w05-four-open, fantasy;
  color: var(--color-white);
}

main .beautiful h4 span span:nth-child(1) {
  font-style: italic;
}

main .beautiful h4 span span:nth-child(2) {
  letter-spacing: 0em;
}

main .beautiful h5 {
  padding-top: 130px;
  padding-left: 459.5px;
  font-size: 29px;
  color: var(--color-white);
}

main .purple {
  background-color: var(--color-purple);
  height: 631px;
  margin-bottom: 13px;
}

main .purple > h1 {
  font-size: 56px;
  text-align: center;
  padding-top: 74px;
  padding-bottom: 60px;
  margin-bottom: 0;
  font-family: didot-w01-italic, didot-w05-italic, serif;
  letter-spacing: 0.1em;
  color: var(--color-white);
}
.purple > div {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  /* font-family: fbgreen, sans-serif; */
}

.order {
  display: flex;
  justify-content: center;
  color: var(--color-white);
}

.order__box {
  background-color: var(--color-light-purple);
  margin-left: 13px;
  width: 237px;
  height: 296.78px;
  text-align: center;
}

.order__number {
  padding-top: 37px;
  padding-bottom: 1px;
  font-size: 100px;
  letter-spacing: 0.05em;
}

.order__dash {
  width: 43.99px;
  height: 4.99px;
  border-top: 1px solid white;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
}

.order__content {
  font-size: 16px;
}

.items {
  display: grid;
  grid: ". . . .";
  list-style: none;
  row-gap: 5px;
  column-gap: 5px;
  /* border: 16px solid silver; */
  justify-content: center;
}

.item {
  background: var(--items-bgcolor);
  width: 241px;
  height: 253.4px;
  text-align: center;
  color: var(--color-white);
}

.item__nickname {
  font-size: 26px;
}

.item__description {
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
}

.yellow {
  height: 351px;
  background-color: var(--color-yellow);
  justify-content: center;
  display: flex;
}

.btn {
  display: flex;
  flex-direction: column;
  margin: auto 40px;
}

.btn > span {
  font-size: 14px;
  letter-spacing: 0.15em;
  margin-top: 35px;
}
.iconBtn {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}
